* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto;
    font-weight: 400;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.row {
    display: flex;
}

.container-new {
}

@media (min-width: 1200px) {
    .container-new {
        max-width: 1350px;
    }
}

footer {
    flex: 0 0 auto;
}

.btn {
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:focus {
        outline: none;
    }
}

.main-title {
    font-family: Oswald;
    font-size: 40px;
    font-weight: regular;
    text-transform: uppercase;
    &_big {
        font-size: 50px;
        font-weight: 500;
    }
}

.main-text {
    font-family: Roboto;
    font-weight: regular;
    font-size: 18px;
}

.group-title {
    &__posttitle {
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__title {
        font-family: Oswald;
        text-transform: uppercase;
        font-size: 50px;
        margin: -5px 0 0 0;
        font-weight: 500;
        line-height: 55px;
    }
    &__text {
        font-size: 16px;
        line-height: 24px;
        margin: 15px 0 0 0;
        line-height: 24px;
    }
}

.breadcrumbs {

    .breadcrumb {
        background-color: transparent;

        .breadcrumb-item {
            
            a {
                color: $dark-gray;
            }

            + .breadcrumb-item:before {
                color: #DCDCDC;
            }
        }
    }
}
