* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto;
    font-weight: 400;
}

body,
html {
    height: 100%;
    overflow-x: hidden;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.custom-select:focus {
    box-shadow: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.row {
    display: flex;
}

.container {
    max-width: 1350px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1350px;
    }
    .container-fix {
        max-width: 1140px;
    }
}

footer {
    flex: 0 0 auto;
}

@media (max-width:576px){
    .container-mob {
        max-width: 360px;
        width: 100%;
        margin: auto;
    }
}
.btn {
    --btn-color: #e0251b;
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    border-radius: 4px;
    text-align: center;

    &:hover {
        opacity: .7;
    }

    .btn-danger,
    .btn-primary,
    .btn-succes {
        &:focus,
        &:active {
            box-shadow: none;
        }
    }

    &:focus {
        outline: none;
    }

    &-outline-danger {
        width: 100%;
        min-width: 240px;
        max-width: 240px;
        border-radius: 4px;
        border: 1px solid $red;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        color: $red;
      }

    &-danger {
        padding: 14px 15px;
        width: 100%;
        max-width: 240px;
        text-align: center;
        background-color: var(--btn-color);
        letter-spacing: 1px;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):visited {
        background-color: var(--btn-color);
        box-shadow: none;
        opacity: 1;
    }

    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: #fff;
        box-shadow: none;
    }
}


.group-title {
    &__posttitle {
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 1px;
        font-family: Oswald;
        font-weight: 400;
        margin: 0;
        text-transform: uppercase;
    }
    &__title {
        font-family: Oswald;
        text-transform: uppercase;
        font-size: 50px;
        margin: -5px 0 0 0;
        font-weight: 500;
        line-height: 55px;
    }
    &__text {
        font-size: 16px;
        line-height: 24px;
        margin: 15px 0 0 0;
        font-weight: 400;
        line-height: 24px;
    }
}


.main-title {
    font-family: Oswald;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    &_big {
        font-size: 50px;
        font-weight: 500;
    }

    &_extra {
        font-weight: 500;
        font-size: 60px;
        line-height: 65px;
    }

    &_sm {
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
    }
    &_middle {
        font-size: 44px;
        line-height: 54px;
    }
}

.main-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    &_big {
        font-size: 30px;
        line-height: 44px;
    }
    &_extra {
        font-size: 34px;
        line-height: 40px;
    }
}

.main-btn {
    @include btn;
    width: 100%;
    max-width: 181px;
    padding: 13px 0 12px 0;
    background: #E2281B;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    &_long {
        max-width: 232px;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.input-main {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 4px;
    &::placeholder {
        color: #666666;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height, or 100% */
        
        letter-spacing: 0.4px;
    }
    &:focus {
        outline: none;
    }
}

.anti-link {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}


.rating-result {
	width: 265px;
}
.rating-result span.active svg path {
    fill: #E2281B;
}

.join {
    padding: 51px 0 45px;
    text-align: center;
    background-image: url('../images/graphics/main/join-bg.png');
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__wrapper {
        max-width: 486px;
        margin: auto;
    }

    &__title {
        margin: 0 0 23px 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__form-input {
        margin: 0 0 20px 0;
        padding: 12px 20px;
        font-size: 16px;
        background: #FFFFFF;
        border: 1px solid #CFCFCF;
        box-sizing: border-box;
        border-radius: 4px;
        &::placeholder {
            color: #666666;
            font-size: 16px;
            line-height: 16px;
            /* identical to box height, or 100% */
            
            letter-spacing: 0.4px;
        }
        &:focus {
            outline: none;
        }

    }

    &__form-btn {
        max-width: 181px;
        background: transparent;
        padding: 12px 0;
        border: 2px solid #FFFFFF;
        border-radius: 4px;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        font-family: Roboto;
        margin: auto;
        width: 100%;
        color: #FFFFFF;
        &:hover {
            color: #Fff;
        }
        
    }

    &__text {
        margin: 21px 0 0 0;
        font-size: 12px;
        line-height: 20px;
        text-align: center; 
    }
}

.offer {
    position: relative;
    color: #fff;
    &::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 59px;
        background-image: url('../images/icons/scroll-alert.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        left: 50%;
        transform: translateX(-50%);
        bottom: 48px;
        display: none;
    }
    &_small {
        .offer__group {
            margin: 0 0 50px 0;
            text-align: center;
        }
    
        .offer__text {
            width: 100%;
            margin: 9px auto 0 auto;
        }
    }
}

.offer-block {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        margin: auto;
    }

    &__title {
        text-align: center;
    }

    &__text {
        color: #E0251B;
        margin: 28px auto 30px auto;
        text-align: center;
    }

    &__btn {
        margin: 0 auto 22px auto;
    }

    &__details {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        display: block;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        color: #E2281B;      
        &:hover {
            color: $color1;
        }  
    }
}


.photos-preview {
    background: $color1;
    padding: 46px 0 88px;


    &__top {
        margin-bottom: 25px;
    }

    &__link {
        @include title;
        font-weight: 500;
        font-size: 36px;
        line-height: 82px;
        text-transform: uppercase;
        color: #FFFFFF;
        display: inline-block;
        &:hover {
            text-decoration: none;
            color: #Fff;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0 0 0 15px;
    }

    &__list-link {
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
    }
    &__list-item {
        margin-right: 24px;
        &:last-child {
            margin: 0;
        }
    }

    &__item {
        margin: 0 0 30px 0;
    }

    &__item-img {
        width: 100%;
        height: 100%;
    }
}


.node {
    padding: 85px 0 98px;
    background: #F6ECDD;
    text-align: center;
    &__title {
        margin-bottom: 48px;
    }
}

.stories-item {
    margin: 50px 0 0 0;
    width: 100%;
    &__img {
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 24px;
        line-height: 65px;
        margin: 0;
    }

    &__text {
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow-y: hidden;
    }

    &__btn {
        margin: 19px 0 0 0;
    }
}

.share-block {
    background: $color1;
    padding: 32px;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 48px 0 52px 0;
    flex-wrap: wrap;
    &__img {
        margin: -25px 31px 0 0;
    }

    &__title {
        margin: 0;
    }

    &__btn {
        max-width: 356px;
        border: 2px solid #fff;
        background: transparent;
        margin-left: auto;
    }
}

.sticky {
    position: fixed;
    z-index: 101;
}

.stop {
    position: relative;
}

@media (max-width:1200px){
    .share-block__btn {
        margin-left: 121px;
    }
    
    .image-adaptive {
        &__col {
            padding: 0;
        }
    }
}

@media (max-width:992px){
    

    .share-block {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        &__img {
            margin: 0 0 15px 0;
        }
        &__title {
            margin: 0 0 20px 0;
        }
        &__btn {
            max-width: none;
            width: 100%;
            margin: 35px 0 0 0;
        }
    }
}

@media (max-width:768px){
    .group-title {
        &__posttitle {
            font-size: 20px;
            line-height: 34px;
            letter-spacing: 1px;
        }
        &__title {
            font-family: Oswald;
            font-size: 34px;
            line-height: 40px;
            letter-spacing: 1px;
        }
        &__text {
            font-size: 16px;
            line-height: 24px;
            margin: 15px 0 0 0;
            line-height: 24px;
        }
    }

    .main-title {
        font-size: 30px;
    }

    .node {
        padding: 60px 0;
        &__title {
            margin-bottom: 25px;
        }
    }

    .offer-block {
        &__content {
            align-items: center;
        }
    }

    .image-adaptive__img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
.breadcrumbs {  
    padding: 0;
    margin: 20px 0;
    .breadcrumb {
        background-color: transparent;

        .breadcrumb-item {
            
            a {
                color: #000;

                svg {
                    position: relative;
                    top: -3px;
                    width: 15px;
                    height: 18px;
                }
            }

            + .breadcrumb-item:before {
                color: #808080;
            }
        }
    }
    
    &_alt .breadcrumb .breadcrumb-item a{
        color: #fff;
    }
}

.form-check {
    position: relative;

    input[type="radio"] {
        
        + .form-check-label {

            &:before {
                position: absolute;
                left: 0;
                top: 2px;

                display: block;
                content: "";

                width: 15px;
                height: 15px;
                background-color: #fff;
                border-radius: 50%;
                border: 1px solid #D5E1EA;
            }

            &:after {
                position: absolute;
                left: 4px;
                top: 6px;
                display: block;
                content: "";

                width: 7px;
                height: 7px;
                border-radius: 50%;

                background-color: $green;

                transform: scale(0.8);
                opacity: 0;
                transition: transform .25s ease, opacity .25s ease;
            }
        }

        &:checked {

            ~ .form-check-label {

                &:before {
                    border-color: $green;
                }
    
                &:after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    &-input {
        display: none;
    }

    input[type="checkbox"] {

        + .form-check-label {
            cursor: pointer;
            padding-left: 12px;
    
            &:before {
                position: absolute;
                left: 0;
                top: 1px;
    
                display: block;
                content: "";
    
                width: 20px;
                height: 20px;
    
                background-color: #fff;
                border: 2px solid #D5E1EA;
                border-radius: 4px;
    
                transition: border-color, background-color .25s ease;
            }
    
            &:after {
                display: block;
                content: "";
    
                position: absolute;
                top: 4px;
                left: 7px;
    
                border-bottom: 3px solid #fff;
                border-right: 3px solid #fff;
    
                transform: rotate(45deg);
    
                height: 11px;
                width: 7px;
    
                opacity: 0;
            }
        }

        &:checked {
            ~ .form-check-label {

                &:before {
                    background-color: $green;
                    border-color: $green;
                }
    
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}

.more-btn {
    background: transparent;
    color: $color1;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    &:hover {
        color: $color1;
    }
    img {
        margin-right: 10px;
    }
}
.breadcrumbs {

    .breadcrumb {
        margin: 20px 0;
        padding: 0;
        background-color: transparent;

        .breadcrumb-item {
            
            a {
                color: #000;

                svg {
                    position: relative;
                    top: -3px;
                    width: 15px;
                    height: 18px;
                }
            }

            + .breadcrumb-item:before {
                color: #808080;
            }
        }
        &_alt {
            .breadcrumb-item a{
                color: #fff;
            }
        }
    }
}

.form-check {
    position: relative;

    input[type="radio"] {
        
        + .form-check-label {

            &:before {
                position: absolute;
                left: 0;
                top: 2px;

                display: block;
                content: "";

                width: 15px;
                height: 15px;
                background-color: #fff;
                border-radius: 50%;
                border: 1px solid #D5E1EA;
            }

            &:after {
                position: absolute;
                left: 4px;
                top: 6px;
                display: block;
                content: "";

                width: 7px;
                height: 7px;
                border-radius: 50%;

                background-color: $green;

                transform: scale(0.8);
                opacity: 0;
                transition: transform .25s ease, opacity .25s ease;
            }
        }

        &:checked {

            ~ .form-check-label {

                &:before {
                    border-color: $green;
                }
    
                &:after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    &-input {
        display: none;
    }

    input[type="checkbox"] {

        + .form-check-label {
            cursor: pointer;
            padding-left: 12px;
    
            &:before {
                position: absolute;
                left: 0;
                top: 1px;
    
                display: block;
                content: "";
    
                width: 20px;
                height: 20px;
    
                background-color: #fff;
                border: 2px solid #D5E1EA;
                border-radius: 4px;
    
                transition: border-color, background-color .25s ease;
            }
    
            &:after {
                display: block;
                content: "";
    
                position: absolute;
                top: 4px;
                left: 7px;
    
                border-bottom: 3px solid #fff;
                border-right: 3px solid #fff;
    
                transform: rotate(45deg);
    
                height: 11px;
                width: 7px;
    
                opacity: 0;
            }
        }

        &:checked {
            ~ .form-check-label {

                &:before {
                    background-color: $green;
                    border-color: $green;
                }
    
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width:576px){
    .main-text_big {
        font-size: 18px;
        line-height: 28px;
    }

    .photos-preview {
        &__item {
            flex: 0 1 50%;
            padding: 0 10px;
            margin: 0 0 20px 0;
            width: initial;
        }

        &__link {
            font-size: 25px;
        }

        &__list-link {
            width: 30px;
            height: 30px;
            position: relative;
            img {
                height: 15px;
            }
        }
    }
    
    .offers-block {
        &__text {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .stories-item {
        text-align: center;
        &__img {
            object-fit: cover;
            max-height: 350px;
        }
        &__btn {
            max-width: none;
        }
    }

    .image-adaptive__col {
        padding: 0;
    }
}

.labeled {
    position: relative;

    label {
        position: absolute;
        top: -7px;
        left: 15px;
        z-index: 8;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        color: $gray;
        background-color: #fff;

        &:before,
        &:after {
            display: block;
            content: "";

            position: absolute;
            top: 0;

            width: 3px;
            height: 100%;

            background-color: #fff;
        }

        &:before {
            left: -3px;
        }

        &:after {
            right: -3px;
        }
  }
}

.pagination {
    justify-content: center;
    align-items: center;

    .page-item {
        max-height: 25px;
        margin-left: 4px;
        margin-right: 4px;
        
        .page-link {
            padding: 0;
            display: inline-block;
            border: none;
            height: 25px;
            min-height: 25px;
            max-height: 25px;
            font-size: 12px;
            line-height: 12px;
            width: 25px;
            min-width: 25px;
            color: #000;

            text-align: center;
            line-height: 25px;

            border-radius: 50%;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }

        .page-link_prev,
        .page-link_next {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px auto;

            &:hover {
                background-color: transparent;
            }
        }

        .page-link_prev {
            background-image: url("#{$sprite}arrow-left");
        }
        .page-link_next {
            background-image: url("#{$sprite}arrow-right");
        }
    }
}

.labeled {
    position: relative;

    label {
        position: absolute;
        top: -7px;
        left: 15px;
        z-index: 8;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        color: $gray;
        background-color: #fff;

        &:before,
        &:after {
            display: block;
            content: "";

            position: absolute;
            top: 0;

            width: 3px;
            height: 100%;

            background-color: #fff;
        }

        &:before {
            left: -3px;
        }

        &:after {
            right: -3px;
        }
  }
}

.pagination {
    justify-content: center;
    align-items: center;

    .page-item {
        max-height: 25px;
        margin-left: 4px;
        margin-right: 4px;
        
        .page-link {
            padding: 0;
            display: inline-block;
            border: none;
            height: 25px;
            min-height: 25px;
            max-height: 25px;
            font-size: 12px;
            line-height: 12px;
            width: 25px;
            min-width: 25px;
            color: #000;

            text-align: center;
            line-height: 25px;

            border-radius: 50%;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }

        .page-link_prev,
        .page-link_next {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px auto;

            &:hover {
                background-color: transparent;
            }
        }

        .page-link_prev {
            background-image: url("#{$sprite}arrow-left");
        }
        .page-link_next {
            background-image: url("#{$sprite}arrow-right");
        }
    }
}

@media (max-width:400px){
    .stories-item__img {
        max-height: 250px;
    }
}

