.filter {
    display: flex;
    &__search-params {
        display: flex;
        align-items: center;
        max-width: 250px;
        width: 100%;
        svg {
            width: 7px;
            height: 12px;
            margin-top: 2px;
            margin-left: 6px;
        }
    }

    &__form {
        display: flex;
    }
}
.filter-form {

    &__item {
    }

    &__item-drop {
        position: absolute;
    }

    &__input {
    }

    &__btn {
    }
}
