.footer {
    background: #595959;
    padding: 45px 0;
    color: #fff;

    &__top {
        
        > div:first-of-type {
            padding-bottom: 45px;
        }

        @include media-lg {
        
            > div:first-of-type {
                padding-bottom: 0;
            }
        }
    }

    &__logo {
        margin: auto;
        display: block;
        max-width: 87px;
        max-height: 91px;

        @include media-lg {
            max-width: 120px;
        }

        img {
            width: 100%;
        }
    }

    &__social-list {
        justify-content: center;
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 55px 0 0 0;
    }

    &__social-list-item {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 18px;
        position: relative;
        margin-bottom: 0;
        padding: 0 0 16px 0;
        text-align: center;


        @include media-lg {
            text-align: left;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 20px;
        }

        &::after {
            content: none;
            position: absolute;
            width: 50px;
            height: 4px;
            background: #C4C4C4;
            left: 0;
            bottom: 0;

            @include media-lg {
                content: "";
            }
        }
    }

    &__col-menu {
        display: flex;
        justify-content: center;

        &:last-of-type {
            margin-top: 15px;
            padding-top: 26px;
            border-top: 1px solid rgba(#fff, .24);

            @include media-lg {
                margin-top: 0;
                padding-top: 0;
                border-top: none;
            }
        }
    }

    &__col-wrapper {
    }

    &__menu {
        display: none;
        text-align: center;

        @include media-lg {
            display: block;
            text-align: left;
        }
    }

    &__menu-list {
        list-style: none;
        padding: 0;
        margin: 0 0 35px 0;

        @include media-lg {
            margin-bottom: 0;
        }
    }

    &__menu-item {
        margin: 0 0 6px 0;
    }

    &__menu-link {
        color: #fff;
        line-height: 16px;
        font-size: 16px;
        &:hover {
            color: #fff;
        }
    }

    &__info {
    }

    &__info-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__info-item {
        margin-top: 30px;
        padding-left: 32px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 1px;
        }
        &:first-child {
            margin-top: 0;
        }
    }

    &__info-title {
        font-size: 16px;
        font-weight: bold;
        max-width: 152px;
    }

    &__info-phone-link {
        color: #fff;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    &__info-phone {
        &::after {
            background-image: url('../images/icons/phone-1.png');
            background-size: auto;
            background-repeat: no-repeat;
            background-position: top center;
        }
    }

    &__info-address {
        &::after {
            background-image: url('../images/icons/home-1.png');
            background-size: auto;
            background-repeat: no-repeat;
            background-position: top center;
        }
    }

    &__info-body {
        line-height: 16px;
        margin-top: 8px;
        font-size: 14px;
    }

    &__bottom {
        border-top: 1px solid #fff;
        margin: 59px 0 0 0;
        padding: 18px 0 0 0;
    }

    &__bottom-text {
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;        
    }

    &__bottom-list {
        margin: 18px 0 0 0;
        padding: 0;
        list-style: none;
        justify-content: center;

        li {
            display: inline-block;
            margin: 0 5px;
        }

        @include media-lg {
            display: flex;
        }
    }

    &__bottom-item {
        margin-right: 35px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__bottom-link {
        color: #fff;
        font-size: 14px;
        text-decoration: underline;
        &:hover {
            color: #Fff;
        }
    }
}