.header {

    &__top {
        background: #192957;
        padding: 6px 0;
        color: #fff;
    }

    &__top-text {
        font-size: 14px;
        margin: 0;
    }

    &__top-link {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    &__top-icon {
        margin-right: 8px;
    }

    &__top-link-text {
    }

    &__bottom {
        padding: 10px 0;
    }

    &__logo {
        text-decoration: none;
        color: initial;
        max-width: 122px;
        max-height: 70px;
        display: block;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__logo-img {
    }

    &__menu {
    }

    &__menu-list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        align-items: center;
    }

    &__menu-item {
        margin-right: 31px;
    }

    &__menu-item:last-child {
        margin-right: 0;
    }

    &__menu-link {
        font-size: 16px;
        line-height: 15px;
        text-transform: uppercase;
        color: #595959;
        &:hover {
            text-decoration: none;
            color: #595959;
        }
    }

    &__ui {
    }

    &__ui-search {
    }

    &__ui-icon {
    }

    &__ui-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        margin-right: 30px;
        &:hover {
            text-decoration: none;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__ui-label {
        margin-top: 11px;
        color: $color1;
        font-size: 16px;
        font-weight: 700;
    }

    &__ui-account {
    }

    &__ui-cart {
    }

    &__ui-item-header {
        display: flex;
        align-items:center;
    }

    &__ui-count {
        margin: 0 0 0 3px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #009A40;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;

        color: #FFFFFF;

    }
}

@media (max-width:1200px){
    .header {

        &__menu-item {
            margin-right: 10px;
        }

        &__menu-link {
            font-size: 14px;
        }

        &__ui-label {
            font-size: 13px;
        }
    }
}


@media (max-width:992px){
    .header {
        &__top-text {
            font-size: 12px;
        }

        &__menu-link {
            font-size: 12px;
        }

        &__ui-item {
            margin-right: 15px;
        }

        &__ui-label {
            margin-top: 6px;
        }

        &__ui-count {
            width: 20px;
            height: 20px;
            font-size: 12px;
        }

        &__ui-icon {
            margin: auto;
            img {
                display: block;
                margin: auto;
                width: 70%;
            }
        }
    }
}

@media (max-width:768px){
    .header {

        &__top-text {
            text-align: center;
            font-size: 14px;
        }
    }
}