.container {
}
.header {
    padding-top: 40px;
    ul {
        display: flex;
        list-style: none;
    }
    li a {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        transition: .5s;
        &:hover {
            color: #8f8f8f;
        }
    }
    &__container {
        max-width: 1852px;
    }
    
    &__row {
        display: flex;
        align-items: center;
    }

    &__col {
        width: 52.82%;
        &--sm {
            width: 27.59%;
        }
        &--menu {
            display: flex;
            justify-content: center;
        }
        &--burger {
            display: none;
        }
    }

    &__logo {
    }

    &__menu {
    }

    &__menu-list {
        margin: 0;
        padding: 0;
    
    }

    &__menu-item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        &--sublist:hover .header__menu-sublist{
           opacity: 1;
            visibility: visible;
        }
    }

    &__menu-link {
        font-size: 16px;
    }

    &__menu-sublist {
        flex-direction: column;
        position: absolute;
        top: 90px;
        max-width: 300px;
        margin-left: -110px;
        width: 100%;
        background-color: #fff;
        background-color: #fff;
        text-align: center;
        -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
        box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
        border-radius: 0;
        -webkit-font-smoothing: antialiased;
        -o-transition: opacity .2s cubic-bezier(.895,.03,.685,.22);
        transition: opacity .2s cubic-bezier(.895,.03,.685,.22);
        -webkit-transition: opacity .2s;
        padding: 18px 20px;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: solid transparent;
            border-width: 10px;
            border-bottom-color: #fff;
            top: -20px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }
    }

    &__menu-subitem {
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__menu-sublink {
        font-size: 14px;
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 30px;
    }

    &__descr {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 15px;
        margin-left: auto;
        a {
            text-decoration: none;
            color: #000;
            text-align: right;
        }
    }

    &__phone {
        font-weight: 700;
    }

    &__mail {
    }

    &__call {
        max-width: 175px;
        height: 40px;
        width: 100%;
        padding: 5px;
        font-size: 14px;
        text-decoration: none;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    }
}