@function str-replace($string, $search, $replace: "") {

  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-weight: $weight;
    font-style: $style;

    // font-display: block;
    src: $src;
  }
}

// Fonts
@include font-face('Roboto', '../fonts/Roboto/Roboto-Bold', bold, normal, ttf);
@include font-face('Roboto', '../fonts/Roboto/Roboto-Regular', 400, normal, ttf);
@include font-face('Roboto', '../fonts/Roboto/Roboto-Medium', 500, normal, ttf);
@include font-face('Roboto', '../fonts/Roboto/Roboto-RegularItalic', 400, italic, ttf);
@include font-face('Roboto', '../fonts/Roboto/Roboto-Light', 300, normal, ttf);

@include font-face('Oswald', '../fonts/Oswald/Oswald-Light', 300, normal, ttf);
@include font-face('Oswald', '../fonts/Oswald/Oswald-Regular', 400, normal, ttf);
@include font-face('Oswald', '../fonts/Oswald/Oswald-Medium', 500, normal, ttf);
@include font-face('Oswald', '../fonts/Oswald/Oswald-Bold', bold, normal, ttf);

// Vars

$color1: #E2281B;
$dark-gray: #595959;
$border-blue: #A0C0D9;
$green: #009A40;
$red: #E0251B;
$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 18px;

// Путь к спрайту для конкатенации

$sprite: "../svg/dest/stack/sprite.svg#";


// Mixins

@mixin title1 {
  font-family: Oswald;
  font-size: 40px;
  font-weight: regular;
  text-transform: uppercase;
}

@mixin title {

}