.offer {
    position: relative;
    color: #fff;
    padding: 154px 0 191px 0;
    &::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 59px;
        background-image: url('../../images/icons/scroll-alert.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        left: 50%;
        transform: translateX(-50%);
        bottom: 48px;
        display: none;
    }
    &__group-title {
    }

    &__posttitle {
    }

    &__title {
    }

    &__text {
    }

    &__btn {
        max-width: 240px;
        font-weight: 500;
        margin: 28px 0 0 0;
        font-size: $fontSize4;
    }

    &__alert {
        position: absolute;
        right: 41px;
        bottom: 36px;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 4px;
        display: flex;
        color: #595959;
        font-weight: 700;
        font-size: $fontSize3;
        text-transform: uppercase;
        padding: 10px 16px 10px 10px;
        transition: .3s;
        &:hover {
            text-decoration: none;
            color: #595959;
        }
        &.offer__alert-hide {
            transform: translateX(120%);
        }
    }

    &__alert-close {
        cursor: pointer;
        margin: -1.5px 0 0 0;
        margin-left: 6px;
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        z-index: -2;
        left: 0;
    }

    &__bg-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background: rgba(0, 0, 0, 0.65);
    }

    &__bg-media {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
}

.explore-drinks {
    padding: 81px 0 36.5px;
    &__top {
        margin: 0 0 5px 0;
    }

    &__title {
    }

    &__text {
        margin: 29px auto 0 auto;
        max-width: 890px;
    }

    &__item {
        padding: 22px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
        z-index: 1;
        overflow: hidden;
        position: relative;
        margin-top: 43px;
        height: 386px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 117px;
            transition: .3s;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }

    &__item:hover {
        .explore-drinks__item-hover {
            opacity: 1;
        }
        .explore-drinks__item-content {
            transform: translateY(40%);
        }
        .explore-drinks__item-do {
            opacity: 1;
            transform: translateY(5px);
        }
        &::after {
            opacity: 0;
        }
    }

    &__item-title {
        @include title;
        font-weight: 400;
        font-size: 26px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    }

    &__item-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #E2281B;
        mix-blend-mode: multiply;
        opacity: 0;
        transition: .4s;
        z-index: -1;
    }

    &__item-content {
        z-index: 1;
        position: relative;
        width: 100%;
        height: 100%;
        transition: .4s;
    }

    &__item-link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        
    }

    &__item-do {
        opacity: 0;
        transition: .5s;
        margin: 0 0 300px 0;
    }

    &__item-new {
        position: absolute;
        top: 9px;
        display: block;
        background: $color1;
        @include title;
        font-weight: 500;
        font-size: 18px;
        z-index: 2;
        padding: 2px 6px 2px 8px;
        line-height: 27px;
        letter-spacing: 1px;
        text-transform: uppercase;
        right: 16px;
        transform: rotate(-90deg);
        &::after,
        &::before {
            content: '';
            position: absolute;
            left: -12px;
        }
        &::after {
            top: 0;
            border: 8px solid transparent; 
            border-top: 13px solid $color1; 
            border-right: 4px solid $color1;
        }

        &::before {
            bottom: 0;
            border: 8px solid transparent; 
            border-right: 4px solid $color1; 
            border-bottom: 13px solid $color1;
        }
    }

    &__more {
        opacity: 1;
        background: $color1;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            display: none;
        }
    }

    &__more-title {
        font-weight: 400;
    }
}

.take-quiz {
    background-image: url('../images/graphics/home/take-quiz-bg.png');
    background-size: 1115px;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 35.5px 0 0 0;
    padding: 44px 0 41px;

    &__info {
        padding: 0 0 0 54px;
    }

    &__photo {
        margin-top: 35px;
        display: block;
        margin-left: auto;
    }

    &__title {
    }

    &__text {
        max-width: 492px;
        margin: 16px 0 0 0;
    }

    &__btn {
        margin: auto;
        font-size: 22px;
        line-height: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        &:hover {
            color: #fff;
        }
    }
    
    &__btn-icon {
        margin-left: 13px;
    }
}

.home-review {
    background-image: url('../../images/graphics/home/review-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 209px 0 187px 0;
    margin: 60px 0 0 0;
    position: relative;
    z-index: 2;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: initial;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90.1deg, rgba(255, 255, 255, 0.5) 0.07%, rgba(255, 255, 255, 0) 99.89%);
    }
    &__text {
        max-width: 520px;
        font-size: 32px;
        z-index: 2;
        line-height: 48px;
        color: #000000;
        position: relative;
    }

    &__grade {
        margin: 27px 0 21px 0;
        position: relative;
        z-index: 2;
    }

    &__autor {
        font-weight: bold;
        font-size: 16px;
        position: relative;
        z-index: 2;
        line-height: 26px;
        letter-spacing: 0.16px;
        &::before {
            content: '—';
        }
    }
}

.home-promise {
    padding: 108px 0 89px;
    background: #F4F8FA;
    text-align: center;
    &__title {
    }

    &__text {
        font-size: 30px;
        line-height: 44px;
        text-align: center;
        color: #000000;
        margin: 45px 0;
    }

    &__btn {
        text-transform: uppercase;
        color: #Fff;
        max-width: 189px;
        font-size: 18px;
        letter-spacing: 0.05em;
        margin: auto;
        &:hover {
            color: #fff;
        }
    }
}


.home-blog {
    padding: 80px 0;
    text-align: center;

    &__title {
        margin: 0 0 38px 0;
    }

    &__item-title {
        @include title;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }

    &__item-text {
    }

    &__items {
        margin: 54px 0 0 0;
    }

    &__item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 22px 22px 30px 22px;
        text-align: left;
        color: #fff;
        position: relative;
        z-index: 2;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            z-index: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        }
    }

    &__item-content {
        margin: 280px 0 0 0;
        position: relative;
        z-index: 1;
    }

    &__item-btn {
        max-width: 181px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        
    }

    &__dots {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 25px 0 0 0;
        padding: 0;
        li {
            margin-right: 12px;
            padding: 0;
            display: block;
            &:last-child {
                margin-right: 0;
            }
        }
        .slick-active button {
            background: #A0C0D9;
        }
        li button {
            font-size: 0;
            width: 8px !important;
            height: 8px !important;
            transition: .3s;
            padding: 0;
            border: none;
            border-radius: 50%;
            background: #D5E1EA;
        }
    }
}


.home-help {
    padding: 0 0 80px 0;
    &__photo {
        max-width: 727px;
        width: 100%;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        background-size: 72px;
        background-repeat: no-repeat;
        padding: 0 0 0 106px;
        background-position: left top;
        margin: 40px 0 0 0;
        &:first-child {
            margin-top: 0;
        }
    }

    &__item-title {
        @include title;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        
    }

    &__item-text {
        font-size: 18px;
        line-height: 28px;
        margin: 0;
    }

    &__item-link {
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #E2281B;
    }
}



.home-found {
    padding: 36px 0;
    background: #F4F8FA;
    justify-content: center;
    text-align: center;
    &__header {
        display: flex;
        justify-content: center;
    }

    &__title {
    }

    &__text {
        margin: 5px 0 0 0;
    }
    
    &__icon {
        margin-top: -2px;
        margin-right: 7px;
    }

    &__btn {
        margin-left: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 248px;
        color: #Fff;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        height: 44px;
        &:hover {
            color: #fff;
        }
    }
}

@media (max-width:922px){
    .take-quiz {
        background-position: bottom;
        &__top {
            display: flex;
        }

        &__photo {
            margin-right: 20px;
            width: 100%;
        }
    }
}

@media (max-width:1200px){
    .offer {
        padding: 100px 0 120px 0;
    }

    .explore-drinks {
        &__item {
            height: 300px;
        }
        &__item-title {
            font-size: 22px;
        }
    }

    .take-quiz {
        background-size: cover;
    }

    .home-blog {
        &__item {
            max-width: 340px;
            margin: auto;
        }
        
        &__slide {
            margin: 0 5px;
            padding: 0;
        }
    }

    .home-help {

        &__list {
            margin-top: 55px;
        }

        &__photo {
            max-width: none;
            object-fit: cover;
            width: 100%;
        }
        &__col {
            flex: 0 1 100%;
            max-width: none;
        }
    }

    .home-found__btn {
        margin: 30px auto 0 auto;
    }
}

@media (max-width:769px){
    .offer {
        padding: 80px 0 100px 0;

        &__btn {
            margin-top: 21px;
        }
    }

    .explore-drinks {
        &__item {
            max-width: 325px;
            margin: 20px auto 0 auto;
            width: 100%;
            height: 250px;display: flex;
            align-items: center;
            justify-content: center;
            &::after {
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }

        &__item-title {
            font-size: 26px;
            font-weight: 500;
            margin: 0 0 0 0;
        }

        &__item-do {
            display: none;
        }

        &__item-do_md {
            font-family: Oswald;
            opacity: 1;
            margin-top: 0;
            display: block !important;
            font-size: 20px;
            line-height: 36px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        }

        &__item-hover {
            display: none;
        }

        &__item-content {
            transform: translateY(40%);
        }
    }

    .take-quiz {
        background-size: 100%;
        background-position: 10% center;
        position: relative;
        &::after {
            content:'';
            width: 100%;
            height: 200px;
            bottom: 0;
            z-index: -1;
            background: $color1;
            position: absolute;
        }
        &__top {
            align-items: center;
        }

        &__photo {
            width: 50%;
        }

        &__info {
            padding: 0 15px;
        }
        
        &__btn {
            margin: 29px 0 0 0;
        }

        &__title {
            font-weight: 300;
        }

        &__text {
            color: #Fff;
            position: relative;
            z-index: 2;
            margin: 0;
        }
    }

    

    .home-review {
        background-size: cover;
        background-position: center top;
        padding: 40px 0 300px 0;
        &::after {
            background: linear-gradient(180.1deg, #F2E8E4 0.07%, #E3E0DF 32.51%, rgba(227, 224, 223, 0) 99.89%);
            width: 100%;
            height: 40%;
            left: 0;
            top: 0;
            z-index: 0;
        }
    }

    .home-promise {
        &__text {
            font-size: 24px;
            line-height: 32px;
        }
    }

    .home-blog {
        &__item-content {
            margin: 247px 0 0 0;
        }
    }
}

@media (max-width:576px){
    .offer {
        padding: 166px 29px 252px 29px;
        text-align: center;
        &::after {
            display: block;
        }
    }

    .take-quiz {
        background-position: 30% 10%;
        &::after {
            height: 350px;
        }

        &__top {
            align-items: initial;
        }

        &__title {
            max-width: 140px;
        }

        &__text {
            text-align: center;
        }

        &__photo {
            max-width: 111px;
            margin: 33px 32px 0 0;
        }
    }

    .home-review {
        background-image: url('../../images/graphics/home/review-bg-mob.png');
        background-position: center;
        padding: 60px 0 432px 0;
        margin: 0 0 0 0;
        &__text {
            font-weight: normal;
            font-size: 20px;
            line-height: 35px;
            text-align: center;
        }

        &__grade {
            text-align: center;
            margin: 25px auto 15px auto;
        }

        &__autor {
            text-align: center;
        }
    }
    
    .home-promise {
        &__text {
            margin: 20px 0 35px 0;
            font-size: 18px;
            line-height: 28px;
        }

        &__btn {
            max-width: none;
        }
    }

    .home-blog {
        padding: 70px 0;
        &__slide {
            margin: 0;
        }
        &__item {
            text-align: center;
            max-width: 325px;
            padding: 30px 14px;
        }
    }

    .home-help {
        position: relative;
        &__photo {
            width: 100%;
            height: 350px;
            left: 0;
            position: absolute;
        }

        &__item {
            background-position: center top;
            padding: 100px 0 0 0;
            text-align: center;
        }

        &__list {
            margin-top: 404px;
        }
    }
}


@media (max-width:485px){
    .take-quiz {
        background-position: 30% 25%;
    }
}

