.storie-profile {
    background: #F6ECDD;

    &__avatar {
        width: 430px;
        margin: 0 0 -68px 0;
        object-fit: cover;
        display: block;
    }

    &__content {
        padding: 47px 0 86px 40px;
    }

    &__social-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0 0 27px 0;
    }

    &__social-item {
        margin: 0 16px 0 0;
        &:last-child {
            margin-right: 0;
        }
    }

    &__social-icon {
        width: 24px;
        height: 24px;
    }

    &__quotes {
        padding: 24px 0 0 0;
        font-size: 22px;
        line-height: 34px;
        position: relative;
        z-index: 2;
        &::after {
            content: '';
            position: absolute;
            width: 63px;
            height: 49px;
            top: 0;
            left: -10px;
            background-image: url("#{$sprite}quotes");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
        }
    }
}

.storie-text {
    margin-top: 125px;
    padding-bottom: 64px;
    &__title {
        font-family: Oswald;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
        text-transform: uppercase;
    }
    p {
        font-size: 18px;
        line-height: 28px;
        margin-top: 24px;
    }
}

.storie-card-wrapper {
    height: 591px;
}

.storie-share-block {
    position: relative;
    &__img {
        position: absolute;
        top: 50px;
        right: 22px;
    }

    &__title {
        position: relative;
    }

    &__btn {
        margin-left: 0;
    }
}

.storie-more {
    background: #F4F8FA;
    padding: 75px 0 64px 0;

    &__title {
        margin: 0;
        text-align: center;
    }

    &__btn {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        display: block;
        margin: 67px auto 0 auto;
        text-align: center;
        text-transform: uppercase;
        color: $color1;
        &:hover {
            color: $color1
        }
    }
}

@media (max-width:1200px){
    .storie-profile {
        .row {
            align-items: center;
        }

        &__avatar {
            width: 100%;
            margin: 0 0 auto 0;
        }
        &__content {
            padding-top: 0;
            padding: 0 0 0 0;
        }
    }
}

@media (max-width:992px){
    .storie-profile {
        padding-bottom: 83px;
        &__avatar {
            width: 100%;
            max-height: 450px;
            object-position: center -200px;
            object-fit: cover;
        }

        &__content {
            padding-top: 30px;
        }

        &__quotes {
            margin-top: 30px;
        }
    }

    .storie-share-block {

        &__group {
            order: 1;
        }

        &__btn {
            order: 2;
        }

        &__img {
            position: relative;
            order: 0;
            right: 0;
            top: 0;
        }
    }
}

@media (max-width:769px){
    .storie-profile {
        
        &__content {
            text-align: center;
        }
        
        &__social-list {
            justify-content: center;
            margin-top: 10px;
        }

        &__avatar {
            max-height: 350px;
            object-position: center -100px;
        }

        &__quotes {
            padding: 54px 0 0 0;
            font-size: 20px;
            line-height: 30px;
            &::after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .storie-text {
        margin-top: 50px;
    }
}

@media (max-width:576px){
    .storie-profile__avatar {
        max-height: none;
        object-position: center;
        margin: 0;
    }
}