.stories-form-offer {
    background-image: url('../images/graphics/stories-form/stories-form-offer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 0 147px 0;
    color: #fff;
    &__group {
        margin: 60px 0 0 0;
    }
    &__text {
        margin: 19px 0 0 0;
    }
}

.stories-experience {

    &__form {
        max-width: 660px;
        width: 100%;
        margin: auto;
        padding: 0 0 90px 0;
    }

    &__title {
        text-transform: none;
        text-align: center;
        margin: 50px 0 25px 0;
        &_lg {
            font-size: 50px;
            margin-bottom: 37px;
        }
    }

    &__form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__radio {
        flex: 0 1 49%;
        position: relative;
        text-align: center;
        padding: 3px 0;
    }

    &__radio-text {
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 24px;
        line-height: 40px;
    }

    &__radio-ui {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
    }
    &__radio-ui+label {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 1px solid #000;
    }
    &__radio-ui:checked+label {
        border-color: $color1;
        color: $color1;
    }

    &__form-input-wrapper {
        position: relative;
        margin: 25px 5px 0;
        flex: 0 1 200px;
        &_big {
            flex: 0 315px;
        }
        &_full {
            flex: 0 1 100%;
            width: 100%;
        }
    }

    &__form-input-icon-wrapper {
        position: absolute;
        height: 96%;
        top: 1px;
        width: 25px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 2;
        background: #fff;
    }

    &__form-input-icon {
        width: 21px;
        height: 21px;
        z-index: 2;
    }

    &__form-input-placeholder {
        position: absolute;
        z-index: 2;
        top: 11px;
        margin: 0 2px 0 0;
        left: 15px;
        font-size: 14px;
        pointer-events: none;
        user-select: none;
        background-color: #fff;
        transition: .1s;
        padding: 0 3px;
        overflow: hidden;
        &::after {
            position: absolute;
            width: 0px;
            background-color: #fff;
            content: "";
        }
    }

    &__form-textarea {
        resize: none;
        height: 320px;
    }

    &__form-input {
        width: 100%;
        padding: 10px 15px;
        background-size: 21px 21px;
        background-repeat: no-repeat;
        background-position:  -10px;
        left: 0;
        border: 1px solid #000;
        position: relative;
        &:focus {
            outline: none;
            border-color: $color1 !important;
        }
        &::placeholder {
            opacity: 0;
        }
    }

    &__form-input-wrapper .stories-experience__form-input:focus~.stories-experience__form-input-placeholder,
    &__form-input-wrapper .stories-experience__form-input:not(:placeholder-shown)~.stories-experience__form-input-placeholder{
        transform: translateY(-50%);
        top: 0;
        color: $color1;
    }

    &__form-files-group {
        margin: 50px 0 0 0;
    }

    &__form-upload {
        margin: 30px 0 0 0;
    }

    &__form-upload-group {
        display: flex;
        align-items: center;
    }

    &__form-btn {
        border-color: $color1;
        color: $color1 !important;
        max-width: 200px;
    }

    &__form-upload-place {
        padding: 13px 15px 11px;
        font-style: italic;
        font-size: 14px;
        background: #F4F8FA;
        border: 1px dashed #98A4AF;
        box-sizing: border-box;
        border-radius: 4px;
        margin-left: 15px;
        width: 100%;
    }

    &__form-checkbox {
        margin: 15px 0 0 0;
    }

    &__form-agreements {
        margin: 50px 0 50px 0;
        padding: 28px 40px 46px;
        background: #F4F8FA;
    }

    &__form-agreements-text{
        margin: 0 0 8px 0;
    }

    &__form-submit {
        margin: auto;
        max-width: 356px;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.05em;
        
        color: #FFFFFF;
    }
}

@media (max-width:768px){
    .stories-experience {
        &__title {
            font-size: 40px;
        }
        &__form-input-wrapper {
            flex: 0 1 45%;
            &_full {
                flex: 0 1 100%;
            }
        }

        &__form-textarea {
            height: 180px;
        }

        &__form-upload-group {
            flex-direction: column;
        }

        &__form-btn {
            max-width: none;
            margin: 0 0 15px 0;
        }

        &__form-upload-place {
            margin-left: 0;
        }

        &__form-agreements {
            margin: 40px -15px;
        }
    }
}