.why-offer {
    background-image: url('../images/graphics/why/offer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    &__group {
        margin: 163px 0 218px 0;
    }

    &__text {
        margin: 15px 0 0 0;
    }
}
.why-focus {
    text-align: center;
    padding: 61px 0 42.5px 0;

    &__text {
        max-width: 890px;
        margin: 28px auto 0 auto;
    }

    &__item {
        height: 534px;
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: flex-end;
        text-align: left;
        color: #fff;
        position: relative;
        z-index: 2;
        padding: 30px 24px;
        margin: 50px auto 0 auto;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        }
    }

    &__row {
        justify-content: center;
        display: flex;
        max-width: 1170px;
        margin: auto;
        flex-wrap: wrap;
    }

    &__col {
        padding: 0 25px;
        flex: 0 1 33.333%;
    }

    &__item-content {
        position: relative;
        z-index: 1;
    }

    &__item-title {
        @include title;
        font-weight: 500;
        font-size: 34px;
        line-height: normal;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__item-btn {
        text-align: center;
        max-width: 181px;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 32px 0 0 0;
    }

    &__item-text {
        margin: 22px 0 7px 0;
        font-size: 16px;
        line-height: 24px;
        
    }
}

.why-promises {

    &__col {
        flex: 0 1 33.333%;
    }

    &__row {
        margin-top: 59px;
    }

    &__item {
        margin-bottom: 45px;
        width: 100%;
    }

    &__item-header {
        img {
            width: 100%;
        }
    }

    &__item-title {
        margin-bottom: 24px;
    }

    &__content {
        margin-top: 31px;
        text-align: left;
    }
}

@media (max-width:1200px){
    .why-focus {
        &__row {
            justify-content: space-between;
        }

        &__item {
            margin: 20px 0 0 0;
        }

        &__col {
            flex: 0 1 49.333%;
        }
    }
}

@media (max-width:1050px){
    .why-focus {
        &__col {
            padding: 0 5px;
        }
    }
}
@media (max-width:768px){
    .why-focus {

        &__row {
            margin: auto;
        }

        &__col {
            padding: 0 5px;
        }

        &__item {
            width: 100%;
            text-align: center;
            height: 350px;
            margin: 20px 0 0 0;
        }

        &__item-btn {
            margin: 14px auto 0 auto;
        }

        &__item-text {
            display: none;
        }

        &__item-title_m {
            margin: 0 0 27px 0;
        }
    }

    .why-promises {
        &__content {
            text-align: center;
        }
        &__text {
            text-align: center;
            font-size: 16px;
        }

        &__item-img {
            width: 100%;
            object-fit: cover;
            max-height: 220px;
        }
    }
}

@media (max-width:576px){
    .why-offer {
        &::after {
            display: block;
        }
        &__group { 
            margin: 185px 0 273px 0;
        }
    }

    .why-focus {

        &__row {
            justify-content: center;
        }

        &__col {
            flex: 0 1 335px;
        }
        &__item {
            height: 325px;
        }
    }
}